<div id="login-container"class="full-screen-olap d-flex justify-content-between">
   <!--  <div id="login-image" class="" >
        <div class="overlay">
            
        </div>
    </div>  -->

    <div id ="login-white-block" class="d-flex flex-column justify-content-start align-items-center">
           
          

            <div class="auth-card-cnt d-flex flex-column justify-content-around align-items-center flex-grow-1">
                <div id="login-logo">
                    <img  class="" src="assets/images/logo-meet.png" alt="Logo Meet">
                </div>
                <div class="auth-card flex-grow-1">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div id="copyright-footer" class="d-flex justify-content-center">
                <p class="text-center"><a  href="#" target="_blank">Meet</a>  ©  2023. Tous droits réservés. By <a  href="https://flexdev.com" class="link-greenn" target="_blank">FlexDev</a></p>
            </div>
        </div>
           
          
</div>