.fail-snackbar {
    // z-index:9999;
     background: #ffb3b3 !important;
     color: #111;
     text-align: center;
 }
 .success-snackbar {
      // z-index:9999;
       background: #80ff80;
       color: #111;
       text-align: center;
 }